<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %5p --- [%15.15t] %-40.40logger{39} : %m%n</pattern>
        </encoder>
    </appender>
    <root level="warn">
        <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="com.ltx" level="info"/>
    <logger name="com.ltx.mapper" level="debug"/>
    <logger name="org.springframework" level="warn"/>
    <logger name="org.apache" level="warn"/>
    <logger name="org.mybatis" level="warn"/>
    <logger name="com.baomidou" level="warn"/>
    <logger name="com.zaxxer" level="warn"/>
    <logger name="org.hibernate" level="warn"/>
    <logger name="org.shardingsphere" level="warn"/>
    <logger name="org.apache.shardingsphere" level="warn"/>
    <logger name="ShardingSphere-SQL" level="info"/>
    <logger name="org.springframework.jdbc" level="debug"/>
    <logger name="org.springframework.transaction" level="debug"/>
    <logger name="org.springframework.boot" level="warn"/>
    <logger name="org.springframework.security" level="warn"/>
</configuration>