<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ltx.mapper.UserMapper">
    <!-- password 字段的 JSON 转换现在已通过 User 实体类上的 MyBatis-Plus 注解进行全局配置，去除了冗余的手写 resultMap -->
    <insert id="add">
        insert into user (id, name, age, password, sex, province, address, city, description, my_datetime, my_date)
        values (#{user.id}, #{user.name}, #{user.age},
        json_array(
        <foreach collection="user.password" item="password" separator=",">
            #{password}
        </foreach>), #{user.sex}, #{user.province},
        #{user.address}, #{user.city}, #{user.description}, #{user.datetime}, #{user.date})
    </insert>
    <select id="query" resultType="User">
        select * from user
        where my_date >= #{requestBody.startDate} and date(my_datetime)>= #{requestBody.startDate}
        and my_date&lt;=#{requestBody.endDate}
        <if test="requestBody.id != null">
            and id >= #{requestBody.id}
        </if>
        <if test="requestBody.age != null">
            and age &lt;= #{requestBody.age}
        </if>
        <choose>
            <when test="requestBody.name != null">
                and name = #{requestBody.name}
            </when>
            <otherwise>
                and sex = #{requestBody.sex}
            </otherwise>
        </choose>
        limit 10 offset 0
    </select>
    <select id="queryGroupBy" resultType="SexCount">
        select ${groupField} as field, count(*) as count
        from user
        group by ${groupField}
    </select>
    <select id="queryUserList" resultType="User">
        select * from user
        <where>
            <if test="requestBody != null and requestBody.id != null and requestBody.id != ''">
                and id >= #{requestBody.id}
            </if>
            <if test="requestBody != null and requestBody.age != null and requestBody.age != ''">
                and age &lt;= #{requestBody.age}
            </if>
            <if test="requestBody != null and requestBody.name != null and requestBody.name != ''">
                and name rlike #{requestBody.name}
            </if>
        </where>
    </select>

</mapper>